.Header {
    /* background-image:url(); */
    background: linear-gradient(
        135deg,
        rgb(212,42,42),
        rgb(245, 162, 8),
        rgb(212,42,42)
    );
    background-size: 400%;
    animation: anim 4s infinite alternate;
    text-align: center;
    display: flex;
    justify-content: space-between;
/*     position: fixed;
    width: 100%; */
}
@keyframes anim {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}
.Header img {
    float: left;
}
.Header h1 {
    font-family: 'Yellowtail', cursive;
}
.Header input {
    display: flex;
    flex-direction: column;
}
