footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 58px;
  width: 360px;
  border-radius: 0px;
  background: rgba(255,255,255, 0.6);
  position: fixed;
  left: 0px;
  bottom: 0;
}