* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}

.profile-icon {
  width:30px;
  height: 30px;
  background-color:  #453F3C;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}





.header__container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  position: relative;

}

.search__bar-container {
  display: flex;
  flex-direction: column;  
  position: fixed;
  z-index: 2000;
  padding: 5px;
  top:35px;
  width:100vw;
  height: 100%;
  background-color: rgba(38, 30, 20,0.85);
  color: #fff;
  overflow: hidden;

}

.main__search__input {
  width:100%;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: rgba(68, 40, 20,0.1);
  color: #fff;
  font-size: 22px;
  margin-top: 5px;
  padding:5px 0;
  font-family: Cabin;
  text-align: center;
  height:25px;
}

.main__search__input::placeholder {
  color: #ccc;
}

.main__search__input:focus ~  {}

.main__search__radio {
  padding: 3px;
  
}

.main__search__radio-button {
  margin: 4px;
  margin-top: 10px;
  padding:2px;
}

.main__search__radio-buttons-container {
  font-size: 0.9em;  
}


.main__page__recipe-container {
  margin-top: 7em;
  max-width: 200px;
}

.main__page__recipe-card {
  width: 150px;
  margin-bottom: 10px;
}

.main__search-button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px;
  padding:10px 0px;
  color: #fff;
  box-shadow: 1px 1px 1px 2px darkgray;
  z-index: 10000;
}


